@import "../../../../assets/coman_css/base.scss";

.project_detail_block {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.milestone_module {
  .card {
    border: none;
  }

  .form-body {
    .card {
      background: transparent;
    }

    .accordion {
      .milestone-body {
        background-color: #fff !important;
      }

      .card-header {
        padding: 8px 17px;
        background: var(--primary-color-100);
        @include border-radius(6px 6px);
        border-bottom: none;
        position: relative;

        h3 {
          @include flexbox();
          @include justify-content(space-between);
          @include align-items(center);
          @include flex-wrap(wrap);
          width: 100%;
          cursor: pointer;
          word-break: break-all;
          padding-right: 40px;

          @media screen and (max-width: 991px) {
            @include flex-flow(column);
            @include align-items(flex-start);
          }

          span {
            font-weight: 600;
            font-size: $f20 - 2px;
            line-height: 1.1;
            padding: 0;
            color: var(--black-chm);
            background: transparent;
            border: none;
            text-decoration: $none;

            @media (max-width: 767px) {
              font-size: $f16;
            }

            @media (min-width: 1200px) {
              font-size: $f24;
              line-height: 1.3;
            }
          }

          &:after {
            font-family: "FontAwesome";
            content: "\f0d8 ";
            position: absolute;
            right: 15px;
            width: 32px;
            height: 32px;
            font-size: 1.4rem;
            background: var(--black-chm);
            color: var(--white-color);
            @include border-radius(4px);
            font-weight: 400;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);

            @media (max-width: 767px) {
              top: 8px;
              font-size: 1rem;
            }
          }

          &.collapsed {
            &:after {
              // / symbol for "collapsed" panels /
              content: "\f0d7 ";
            }
          }

          &.accordian_active {
            @include border-radius(6px);
          }
        }
      }

      .common_view_secn {
        @media (max-width: 991px) {
          margin-top: 15px;
        }

        .btn {
          min-height: 32px;
          height: 32px;
          font-size: $f14;
          @include border-radius(4px);

          @include flexbox();
          @include justify-content(center);
          @include align-items(center);

          &.view_icons {
            width: 32px;
            height: 32px;

            i {
              font-size: 1rem;
            }
          }
        }
      }

      .collapse,
      .collapsing {
        background-color: var(--input-color);
        border-radius: 0 0 6px 6px;
      }

      .card-body {
        padding: 12px 17px;
      }

      .project_card_accordion {
        margin-bottom: 15px;
        background-color: transparent;

        &:last-child {
          margin-bottom: 0;
        }

        @media (min-width: 1200px) {
          padding-right: 50px;
        }

        .icons_action {
          top: 50%;
          right: -50px;
          transform: translateY(-50%);
          position: absolute;
        }
      }

      // for milestone task accordion
      .MilestoneTask_accordion {
        .project_task_accordion {
          margin-bottom: 15px;
          background-color: transparent;

          @media (min-width: 1200px) {
            padding-right: 60px;
          }

          .icons_action {
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
            position: absolute;
          }

          .collapse,
          .collapsing {
            background-color: transparent;
            border-radius: 0 0 6px 6px;
            border: 2px solid var(--primary-color-100);
          }
        }

        .add_milestone_task_form {
          form {
            .row {
              &.task_row {
                &>[class^="col-"] {
                  @media (min-width: 992px) and (max-width: 1400px) {
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                  }
                }
              }
            }

            textarea {
              @media (min-width: 1200px) {
                min-height: 145px;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.common_project_default {
  .card {
    @include border-radius(6px);
  }
}

.common_project_filter {
  .btn {
    min-height: 35px;
    height: 35px;
    font-size: $f14;
    @include border-radius(4px);

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }

  em {
    margin-right: 5px;
  }

  //  @media (max-width: 767px) {
  //    flex: 1;
  //    width: 100%;
  //  }
}

.common_filter_row {
  @media (max-width: 767px) {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: flex-end !important;
  }

  .timesheet_btn {
    min-height: 35px;
    height: 35px;
    font-size: $f14;
    @include border-radius(4px);

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    @media (max-width: 767px) {
      margin-bottom: 5px;
    }

    @media (min-width: 768px) and (max-width: 1280px) {
      min-height: 41px;
    }
  }
}

//  common accordion for all project module
.accordion {
  .card-header {
    padding: 3px 17px;
    background: var(--primary-color-100);
    @include border-radius(6px 6px);
    border-bottom: none;
    position: relative;

    @media (max-width: 1199px) {
      padding: 7px 17px;
    }

    h3 {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      @include flex-wrap(wrap);
      width: 100%;
      cursor: pointer;
      word-break: break-all;
      padding-right: 40px;

      @media screen and (max-width: 991px) {
        @include flex-flow(column);
        @include align-items(flex-start);
      }

      span {
        font-weight: 600;
        font-size: $f20 - 2px;
        line-height: 1.1;
        padding: 0;
        color: var(--black-chm);
        background: transparent;
        border: none;
        text-decoration: $none;

        @media (max-width: 767px) {
          font-size: $f16;
        }

        @media (min-width: 1200px) {
          font-size: 20px;
          line-height: 1.5;
        }
      }

      &:after {
        font-family: "FontAwesome";
        content: "\f0d8 ";
        position: absolute;
        right: 15px;
        width: 32px;
        height: 28px;
        font-size: 16px;
        background: var(--black-chm);
        color: var(--white-color);
        @include border-radius(4px);
        font-weight: 400;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);

        @media (max-width: 992px) {
          top: 3px;
          font-size: 1rem;
        }
      }

      &.collapsed {
        &:after {
          // / symbol for "collapsed" panels /
          content: "\f0d7 ";
        }
      }

      &.accordian_active {
        @include border-radius(6px);
      }
    }
  }
}

.common_project_default {
  .card {
    @include border-radius(6px);
  }

  .select_tracker {
    min-width: 103px;
    min-height: 30px !important;
    font-size: 14px;
    background-position: 91% !important;

    @media (max-width: 1280px) {
      min-width: 150px;
    }
  }
}


//new changes in project-detail table
.new-project-detail {
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0px 15px 0px;
  text-align: left;

  @media (max-width: 1023px) {
    gap: 0;
  }
}

.milestone_module {
  .table thead th {
    background-color: var(--primary-color-100) !important;
  }
}

.milestone_module {
  .table td {
    padding: 0.3rem 1rem;
  }
}

@media (max-width: 767px) {
  .col.milestone_module {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .col.milestone_module {
    padding: 0;
  }
}

.project_card_accordion {
  .timesheet_btn {
    min-height: 28px;
    height: 28px;
    font-size: $f14;
    @include border-radius(4px);

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    @media (max-width: 767px) {
      margin-bottom: 5px;
    }

    @media (min-width: 768px) and (max-width: 1280px) {
      min-height: 28px;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1499px) {
  .project_task_accordion {
    .project-status {
      min-width: 160px;
    }
  }
}

.common_detail_table {
  table {
    .delayHour {
      background-color: #ea7e76;
    }
  }

  ng-deep {
    .project_details {
      table tr td {
        text-align: left !important;
      }
    }
  }
}

::ng-deep {
  .project_task_accordion {
    .common_detail_table {
      table tr:last-child td:first-child {
        border-bottom-left-radius: 0px !important;
      }

      table tr:last-child td:last-child {
        border-bottom-right-radius: 0px !important;
      }

      .table_action_icons {
        .view_icons_trash {
          background-color: #ef6565;

          i {
            color: #fff;
          }
        }

        .view_icons_trash:hover {
          background-color: #ef6565;
        }

        .fa-info-circle:before {
          content: "\f05a";
          font-size: 12px;
        }
      }
    }
  }
}

.new-all-projects {
  .nested-td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nested-td span {
    padding: 5px 0px 5px 0px;
    position: relative;
    display: inline-block;
  }

  .nested-td span:after {
    position: absolute;
    bottom: 0;
    left: -10px;
    content: "";
    width: calc(100% + 20px);
    height: 1px;
    background: #cccccc;
  }

  .nested-td span:last-child:after {
    content: none;
  }
}

.project_status_info {
  display: flex;
  justify-content: space-evenly;
}

.project-status {
  position: relative;

  sup {
    top: 0.4rem;
    right: 0.4rem;
    position: absolute;
    z-index: 99;

    @media (max-width: 1399px) {
      top: 0.2rem;
    }
  }
}

::ng-deep {
  .new-all-projects {
    .task_name {
      min-width: 250px !important;
      white-space: break-spaces !important;
      position: relative;
      sup {
        top: 0.7em;
        position: absolute;
        left:0.3rem;
    }
    }
  }
}

/* Style for the document container */
.document-container {
  display: flex;
  flex-direction: row; /* Display the buttons in a row */
  flex-wrap: wrap; /* Allow wrapping if the buttons exceed container width */
}

/* Style for each document button */
.document-btn {
  margin-right: 10px; /* Add some spacing between buttons */
}

/* Style for the document button */
.document-button {
  display: flex;
  align-items: center;
  background-color: #ff8750;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the Font Awesome icon */
.document-button i {
  margin-right: 5px;
  color: white;
}

.estimate {
  background-color: var(--primary-color);
  border: var(--primary-color);
  color: #fff;
}
.estimate:hover{
  color: black;
}
.query:hover{
  color: black;
}
.query {
  background-color: #B4B4B4;
  border: #B4B4B4;
}

.left_colm button {
  margin-right: 10px; /* Adjust the value as needed */
}


/* Add this CSS to style the estimate_table div */
.estimate_table {
  margin-top: 20px; /* Adjust margin as needed */
  border-radius: 5px; /* Bootstrap table border radius */
  padding: 10px; /* Add padding inside the table */
  width: 100%; /* Ensure the table occupies full width */
  overflow: scroll; 

}

/* Styling for table headers */
.estimate_table th {
  padding: 10px; /* Padding for table header cells */
  background-color: #FFDDCD; /* Bootstrap table header background color */
  text-align: left; /* Align text to the left */
  font-weight: bold; /* Bold font for header cells */
}

/* Styling for table data cells */
.estimate_table td {
  padding: 10px; /* Padding for table data cells */
}

/* Optional: Add hover effect for table rows */
.estimate_table tr:hover {
  background-color: #f2f2f2; /* Lighter background color on hover */
}

.btn-add-more {
  background-color: transparent;
  border: 1px solid #ff8750;
  color: #ff8750;
}

.btn-add-more:hover {
  background-color: #ff8750;
  color: white;
}
.btn-container {
  margin-top: 20px; /* Adjust the margin as needed */
}
.button-container{
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px; 
}
.action_icon button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px; /* Add spacing between buttons */
}

.action_icon button span.icon {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
  background-color: #ff8750;
  color: #fff;
}
.action_icon{
.save_icon span.icon{
  border-radius: 10% !important;
}
}

.edit_icon:hover span.icon,
.save_icon:hover span.icon,
.add_cell:hover span.icon {
  background-color: #f0f0f0; /* Change background color on hover */
}
.input_field{
  width: 200px;
}