<div class="main-content">
    <div class="container-fluid project_module">
        <div class="row" >
            <div class="col ">
                <div class="row Page-title">
                    <h3 class="col-md-12 col-lg-12 col-xl-4 mb-0">Basic Details</h3>
                </div>
                <div class="card border-0 project_card project_details">
                    <div class="card-body form-body">
                        
                        <div class="col-lg-12 new-project-detail d-flex justify-content-between align-items-start">
                            <div class="col-xl-2 col-lg-2 col-6">
                              <h6>Last Status Time</h6>
                              <span>{{records?.updatedAt | date:dateTimeFormat || emptyValue }}</span>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-6">
                              <h6>Portal</h6>
                              <span>{{records?.bidDetails?.portalDetails?.name || emptyValue}}</span>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-6">
                              <h6>Account Used</h6>
                              <span>{{records?.bidDetails?.upworkIdDetails?.name || emptyValue}}</span>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-6">
                                <h6>Status</h6>
                                <span>Status</span>
                              </div>
                              <div class="col-xl-2 col-lg-2 col-6">
                                <h6>Booked By</h6>
                                <span>{{records?.bidDetails?.bookedByDetails?.name || emptyValue}}</span>
                              </div>
                              <div class="col-xl-2 col-lg-2 col-6" >
                                <h6>Done By</h6>
                                <span>Done By</span>
                              </div>
                              <div class="col-xl-2 col-lg-2 col-6" >
                                <h6>Job Title</h6>
                                <span>{{records?.bidDetails?.jobTitle? (records?.bidDetails?.jobTitle | titlecase ) : emptyValue }}</span>
                              </div>
                              <div class="col-xl-2 col-lg-2 col-6" >
                                <h6>Job Type</h6>
                                <span>{{records?.bidDetails?.jobType==1?'Hourly':'Fixed'}}</span>
                              </div>
                              <div class="col-xl-2 col-lg-2 col-6" >
                                <h6>Domain</h6>
                                <span>Domain</span>
                              </div>
                            <div class="col-xl-2 col-lg-2 col-6" >
                              <h6>Url</h6>
                              <span><a [href]="records?.bidDetails?.jobUrl || emptyValue">{{records?.bidDetails?.jobUrl || emptyValue | truncate :[20]}}</a></span>
                            </div>
                            
                            <div class=" col-lg-12" >
                              <h6>Description</h6>
                              <span>{{records?.bidDetails?.description || emptyValue}}</span>
                            </div>
                            <div class=" col-lg-12 " >
                              <h6>Documents</h6>
                              <div class="document-container" *ngIf="records?.bidDetails?.uploadDoc.length>0 || records?.documents.length>0;else otherBlock">
                              <ng-container *ngFor="let document of getAllDocs(records?.bidDetails?.uploadDoc,records?.documents); let index=i">
                                <div class="download_doc">
                                  <a [href]="download(document)" target="_b" >
                                    <div class="document-btn">
                                      <button class="document-button">
                                      <i class="fas fa-file-alt"></i> <!-- Font Awesome document icon -->
                                      <span>{{ document?.fileName|trucateText }}</span>
                                      </button>
                                    </div>
                                  </a>
                                </div>  
                              </ng-container>
                        
                          </div>
                          <ng-template #otherBlock>
                            {{emptyValue}}
                          </ng-template>
                            </div>
                          </div>

                    </div>
                </div>
                <div class="card border-0 project_card project_details">
                  <div class="card-body form-body">
                      
                    <h4>Estimate/Query 
                      <span class="h4 ml-2 info_icon">
                        <i class="fa fa-info-circle" (click)="openInfoModal()"> </i>
                      </span>
                    </h4>
                      <div class="col-lg-12 new-project-detail d-flex justify-content-between align-items-start">
                        <div class="left_colm mt-md-0 mt-3 d-flex align-item-center justify-content-start flex-wrap">
                          <button class="btn btn-md" [ngClass]="displayValue==1?'estimate':'query'" (click)="estimateType(1)">Estimates</button>
                          <button class="btn btn-md" [ngClass]="displayValue==3?'estimate':'query'" (click)="estimateType(3)">Admin Panel</button>
                          <button class="btn btn-md" [ngClass]="displayValue==2?'estimate':'query'" (click)="estimateType(2)">Query</button>
                        </div> 
                        <div class="right_colm mt-md-0 mt-3 d-flex align-item-center justify-content-start flex-wrap" (click)="isLockedEstimate(estimateId)">
                          <ng-container *ngIf="!isManagement">
                            <span id="lock_icon" *ngIf="getLockedBy()" title="Lock Estimate"><i class="fa fa-lock"></i></span>
                            <span id="lock_icon" *ngIf="!getLockedBy()" title="Unlock Estimate"><i class="fa fa-unlock"></i></span>
                          </ng-container>
                        </div> 
                        <ng-container *ngIf="displayValue==1">
                          <div class="estimate_table" (click)="alertBlockedStatus()">
                            <ng-container >
                              <form [formGroup]="employeeEstimateForm">
                                <table class="table table-bordered" *ngIf="getFormArrayControls('estimateForm').length>0" [style.pointer-events]=" lockCursor() ? 'none' : 'auto'" >
                                  <thead>
                                    <tr>
                                      <ng-container *ngFor="let heading of header">
                                        <th>{{ heading.Name }}</th>
                                      </ng-container>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <ng-container formArrayName="estimateForm" >
                                    
                                      <ng-container *ngFor="let estimateTeam of getFormArrayControls('estimateForm'); let index = index"  [formGroupName]="index">
                                        <ng-container *ngIf="!isManagement;else notManagement">
                                          <tr>
                                            <td (dblclick)="setEditIndexForCell(index,'taskName')">
                                              <ng-container *ngIf="isCellBeingEdited(index,'taskName');else otherBlock">
                                                <div class="input_field">
                                                  <app-input-field appInputRestriction [class]="[classValue.COL.LG_6,classValue.COL.XL_3]"
                                                    [placeHolder]="'Enter Task'" [formFieldLight]="true"
                                                    [firstNameControl]="estimateTeam.get('taskName')" 
                                                    [submitted]="submitted">
                                                  </app-input-field>
                                                </div>
                                              </ng-container>
                                              <ng-template #otherBlock>
                                                {{estimateTeam?.get('taskName').value || 'N/A'}}
                                              </ng-template>
                                            </td>
                                              
                                            <ng-container formArrayName="hours">
                                              <ng-container *ngFor="let team of getNestedFormArrayControls('hours',index);let taskDetailIndex=index" [formGroupName]="taskDetailIndex">
                                                <ng-container *ngFor="let tech of list">
                                                  <td (dblclick)="setEditIndexForCell(index,tech,'hours')">
                                                    <ng-container *ngIf="isCellBeingEdited(index,tech,'hours');else otherBlock">
                                                      <div class="input_field">
                                                        <input id="pmEstimatedTime" 
                                                        type="text" class="form-control form-control-light"
                                                        [formControlName]="tech" placeholder="HH:MM" formatHM maxHours="999999"/>
                                                      </div>
                                                    </ng-container>
                                                    <ng-template #otherBlock>
                                                      {{team?.get(tech)?.value || 'N/A'}}
                                                    </ng-template>
                                                  </td>
                                                </ng-container>
                                              </ng-container>
                                            </ng-container>  


                                            <td (dblclick)="setEditIndexForCell(index,'link')">
                                              <ng-container *ngIf="isCellBeingEdited(index,'link')">
                                                <div class="input_field">
                                                  <app-input-field appInputRestriction [class]="[classValue.COL.LG_6,classValue.COL.XL_3]"
                                                    [placeHolder]="'Paste Link here'" [formFieldLight]="true"
                                                    [firstNameControl]="estimateTeam.get('link')" 
                                                    [submitted]="submitted">
                                                  </app-input-field>
                                                </div>
                                              </ng-container>
                                              <ng-container *ngIf="!isCellBeingEdited(index,'link')">
                                                <ng-container *ngIf="estimateTeam?.get('link').value;else other">
                                                  <a [href]="estimateTeam?.get('link').value">
                                                    <span>
                                                      {{estimateTeam?.get('link').value | truncate:[20]}}
                                                    </span>
                                                  </a>
                                                </ng-container>
                                                <ng-template #other>
                                                  {{emptyValue}}
                                                </ng-template>
                                              </ng-container>
                                            </td>

                                            <td (dblclick)="setEditIndexForCell(index,'comments')">
                                              <ng-container *ngIf="isCellBeingEdited(index,'comments')">
                                                <div class="input_field">
                                                  <app-input-field appInputRestriction [class]="[classValue.COL.LG_6,classValue.COL.XL_3]"
                                                    [placeHolder]="'Type comments'" [formFieldLight]="true"
                                                    [firstNameControl]="estimateTeam.get('comments')" 
                                                    [submitted]="submitted">
                                                  </app-input-field>
                                                </div>
                                              </ng-container>
                                              <ng-container *ngIf="!isCellBeingEdited(index,'comments')">
                                                {{estimateTeam?.get('comments').value || 'N/A'}}
                                              </ng-container>
                                            </td>
                                            <td>
                                              <div class="button-container">
                                                <div class="action_icon">
                                                  <ng-container  >
                                                    <ng-container *ngIf="isRowBeingEdited(index)">
                                                      <button class="save_icon" title="save Task" (click)="[clearEditIndexForCell(index),onSubmitForm(index)]">
                                                        <span class="icon">Save</span>
                                                      </button>
                                                    </ng-container>
                                                    <button class="delete_icon" type="button" title="Delete Task" (click)="[removeTask(index),clearEditIndexForCell(index)]">
                                                      <span class="icon"><i class="fa fa-trash"></i></span>
                                                    </button>
                                                  </ng-container>
                                                </div>
                                              </div>
                                            </td>
                                          </tr> 
                                        </ng-container>
                                        <ng-template #notManagement>
                                          <tr>
                                            <td>
                                              <ng-container *ngIf="isCellBeingEdited(index,'taskName');else otherBlock">
                                                <div class="input_field">
                                                  <app-input-field appInputRestriction [class]="[classValue.COL.LG_6,classValue.COL.XL_3]"
                                                    [placeHolder]="'Enter Task'" [formFieldLight]="true"
                                                    [firstNameControl]="estimateTeam.get('taskName')" 
                                                    [submitted]="submitted">
                                                  </app-input-field>
                                                </div>
                                              </ng-container>
                                              <ng-template #otherBlock>
                                                {{estimateTeam?.get('taskName').value || 'N/A'}}
                                              </ng-template>
                                            </td>
                                              
                                            <ng-container formArrayName="hours">
                                              <ng-container *ngFor="let team of getNestedFormArrayControls('hours',index);let taskDetailIndex=index" [formGroupName]="taskDetailIndex">
                                                <ng-container *ngFor="let tech of list">
                                                  <td>
                                                    <ng-container *ngIf="isCellBeingEdited(index,tech,'hours');else otherBlock">
                                                      <div class="input_field">
                                                        <input id="pmEstimatedTime" 
                                                        type="text" class="form-control form-control-light"
                                                        [formControlName]="tech" placeholder="HH:MM" formatHM maxHours="999999"/>
                                                      </div>
                                                    </ng-container>
                                                    <ng-template #otherBlock>
                                                      {{team?.get(tech)?.value || 'N/A'}}
                                                    </ng-template>
                                                  </td>
                                                </ng-container>
                                              </ng-container>
                                            </ng-container>  

                                            <td>
                                              <ng-container *ngIf="isCellBeingEdited(index,'link')">
                                                <div class="input_field">
                                                  <app-input-field appInputRestriction [class]="[classValue.COL.LG_6,classValue.COL.XL_3]"
                                                    [placeHolder]="'Paste Link here'" [formFieldLight]="true"
                                                    [firstNameControl]="estimateTeam.get('link')" 
                                                    [submitted]="submitted">
                                                  </app-input-field>
                                                </div>
                                              </ng-container>
                                              <ng-container *ngIf="!isCellBeingEdited(index,'link')">
                                                <ng-container *ngIf="estimateTeam?.get('link').value;else other">
                                                  <a [href]="estimateTeam?.get('link').value">
                                                    <span>
                                                      {{estimateTeam?.get('link').value | truncate:[20]}}
                                                    </span>
                                                  </a>
                                                </ng-container>
                                                <ng-template #other>
                                                  {{emptyValue}}
                                                </ng-template>
                                              </ng-container>
                                            </td>

                                            <td>
                                              <ng-container *ngIf="isCellBeingEdited(index,'comments')">
                                                <div class="input_field">
                                                  <app-input-field appInputRestriction [class]="[classValue.COL.LG_6,classValue.COL.XL_3]"
                                                    [placeHolder]="'Type comments'" [formFieldLight]="true"
                                                    [firstNameControl]="estimateTeam.get('comments')" 
                                                    [submitted]="submitted">
                                                  </app-input-field>
                                                </div>
                                              </ng-container>
                                              <ng-container *ngIf="!isCellBeingEdited(index,'comments')">
                                                {{estimateTeam?.get('comments').value || 'N/A'}}
                                              </ng-container>
                                            </td>
                                          </tr> 
                                        </ng-template>
                                      </ng-container>
                                    </ng-container>
                                  </tbody>
                                </table>
                                <div class="btn-container text-right mt-3" *ngIf="!isManagement">
                                  <button class="btn btn-md btn-add-more" type="button" (click)="addMoreTasks()" [disabled]="lockCursor()">
                                    <i class="fas fa-plus"></i> Add More
                                  </button>
                                </div>
                              </form>  
                            </ng-container>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="displayValue==2">
                          <div class="col-lg-12 new-project-detail d-flex justify-content-between align-items-start">
                            <app-common-chat></app-common-chat>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="displayValue==3">
                          <div class="estimate_table">
                            <app-common-admin-panel [adminPanelEstimate]="adminPanelEstimate" [records]="records"
                             [isManagement]="isManagement" [teamDetails]="teamDetails" [estimateId]="estimateId"></app-common-admin-panel>
                          </div>
                        </ng-container>
                        </div>
                  </div>
              </div>
              <ng-container *ngIf="isManagement">
                <div class="card border-0 project_card project_details">
                  <div class="card-body form-body">
                    <h4>Track Bid Status</h4>
                    <div class="col-lg-12 new-project-detail">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="container-fluid p-2 align-items-start">
                              <div class="d-flex flex-column align-items-start stepper-container">
                                <div class="d-flex">
                                  <div class="d-flex flex-column align-items-start">
                                    <div class="d-flex align-items-start">
                                      <button
                                        class="btn  text-white btn-sm rounded-pill mb-2 stepper-button"
                                        [ngClass]="records?.bidDetails?.bookedBy?.userId?'bg-custom':'bg-disable'"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#company1"
                                        aria-expanded="true"
                                        aria-controls="company1"
                                        onclick="stepFunction(event)"
                                      >
                                        <i class="fa" [ngClass]="records?.bidDetails?.bookedBy?.userId?'fa-check':'fa-dot-circle-o'"></i>
                                      </button>
                                    </div>
                                    <span class="rounded mb-2 stepper-line" [ngClass]="records?.bidDetails?.activeBy?.userId?'bg-custom':'bg-disable'"></span>
                                  </div>
                                  <div>
                                    <h4 class="font-jakarta-sans-500">Booked</h4>
                                    <h6 class="font-jakarta-sans-400">{{records?.bidDetails?.bookedBy.updatedAt? (records?.bidDetails?.bookedBy.updatedAt| date:dateTimeFormat):emptyValue }}</h6>
                                    <h6 class="font-jakarta-sans-400">Updated By: {{records?.bidDetails?.bookedByDetails?.name ? (records?.bidDetails?.bookedByDetails?.name | titlecase):emptyValue }}</h6>
                                  </div>
                                </div>
                                <div class="d-flex">
                                  <div class="d-flex flex-column align-items-start">
                                    <div class="d-flex align-items-start">
                                      <button
                                        class="btn text-white btn-sm rounded-pill mb-2 stepper-button"
                                        data-bs-toggle="collapse"
                                        [ngClass]="records?.bidDetails?.activeBy?.userId?'bg-custom':'bg-disable'"
                                        data-bs-target="#company1"
                                        aria-expanded="true"
                                        aria-controls="company1"
                                        onclick="stepFunction(event)"
                                      >
                                        <i class="fa" [ngClass]="records?.bidDetails?.activeBy?.userId?'fa-check':'fa-dot-circle-o'"></i>
                                      </button>
                                    </div>
                                    <span class="rounded mb-2 stepper-line" [ngClass]="records?.bidDetails?.communicationBy?.userId?'bg-custom':'bg-disable'"></span>
                                  </div>
                                  <div>
                                    <h4 class="font-jakarta-sans-500">Active</h4>
                                    <h6 class="font-jakarta-sans-400">{{records?.bidDetails?.activeBy.updatedAt? (records?.bidDetails?.activeBy.updatedAt| date:dateTimeFormat):emptyValue }}</h6>
                                    <h6 class="font-jakarta-sans-400">Updated By: {{records?.bidDetails?.activeByDetails?.name ? (records?.bidDetails?.activeByDetails?.name | titlecase):emptyValue }}</h6>
                                  </div>
                                </div>
                                <div class="d-flex">
                                  <div class="d-flex flex-column align-items-start">
                                    <div class="d-flex align-items-start">
                                      <button
                                        class="btn text-white btn-sm rounded-pill mb-2 stepper-button"
                                        data-bs-toggle="collapse"
                                        [ngClass]="records?.bidDetails?.communicationBy?.userId?'bg-custom':'bg-disable'"
                                        data-bs-target="#company1"
                                        aria-expanded="true"
                                        aria-controls="company1"
                                        onclick="stepFunction(event)"
                                      >
                                        <i class="fa" [ngClass]="records?.bidDetails?.communicationBy?.userId?'fa-check':'fa-dot-circle-o'"></i>
                                      </button>
                                    </div>
                                    <span class="rounded mb-2 stepper-line" [ngClass]="records?.bidDetails?.doneBy?.userId?'bg-custom':'bg-disable'"></span>
                                  </div>
                                  <div>
                                    <h4 class="font-jakarta-sans-500">Communication</h4>
                                    <h6 class="font-jakarta-sans-400">{{records?.bidDetails?.communicationBy.updatedAt? (records?.bidDetails?.communicationBy.updatedAt| date:dateTimeFormat):emptyValue }}</h6>
                                    <h6 class="font-jakarta-sans-400">Updated By: {{records?.bidDetails?.communicationByDetails?.name ? (records?.bidDetails?.communicationByDetails?.name | titlecase):emptyValue }}</h6>
                                  </div>
                                </div>
                                <div class="d-flex">
                                  <div class="d-flex flex-column align-items-start">
                                    <div class="d-flex align-items-start">
                                      <button
                                        class="btn text-white btn-sm rounded-pill mb-2 stepper-button"
                                        [ngClass]="records?.bidDetails?.doneBy?.userId?'bg-custom':'bg-disable'"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#company1"
                                        aria-expanded="true"
                                        aria-controls="company1"
                                        onclick="stepFunction(event)"
                                      >
                                        <i class="fa" [ngClass]="records?.bidDetails?.doneBy?.userId?'fa-check':'fa-dot-circle-o'" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div>
                                    <h4 class="font-jakarta-sans-500">Completed</h4>
                                    <h6 class="font-jakarta-sans-400">{{records?.bidDetails?.doneBy.updatedAt? (records?.bidDetails?.doneBy.updatedAt| date:dateTimeFormat):emptyValue }}</h6>
                                    <h6 class="font-jakarta-sans-400">Updated By: {{records?.bidDetails?.doneByDetails?.name ? (records?.bidDetails?.doneByDetails?.name | titlecase):emptyValue }}</h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              
</div>
